<div id="spacio">
		<h1>Principio del universo</h1>
		<h2>Esta información se basa en los mitos y leyendas de las distintas regiones del mundo Pokémon:</h2><br>
	

		
		<div>
					<ul>
						
						<h2>Creación del universo:</h2><br>
					
						<li class="list-group-item">

							Nace Arceus.<br>
						</li>

						<li class="list-group-item">
							Nace Mew.<br>
						</li>

						<li class="list-group-item">
							Arceus crea a Dialga y Palkia para controlar el tiempo y el espacio.<br>
						</li>

						<li class="list-group-item">
							Aparece Giratina pero debido a su violencia es desterrado a una dimensión alterna (el mundo distorsión).<br>
						</li>

						<li class="list-group-item">
							Creación del mundo Pokémon.<br>
						</li>

						<li class="list-group-item">
							Nace Groudon, que crea los continentes; y Kyogre, los mares y océanos.<br>
						</li>

						<li class="list-group-item">
							Groudon y Kyogre luchan en una gran batalla, destruyendo casi todo lo que habían creado.<br>
						</li>

						<li class="list-group-item">
							Rayquaza interviene, calmando a Kyogre y a Groudon.<br>
						</li>

						<li class="list-group-item">
							Nacen Xerneas e Yveltal, representando la vida y la muerte; y el balance de energía.<br>
						</li>

						<li class="list-group-item">
							Regigigas mueve los continentes.<br>
						</li>
					</ul>
		</div>
		<div>
			<ul>
				<h2>Prehistoria:</h2>	
					<small>NOTA: La prehistoria es el período que va desde la creación del mundo Pokémon a la aparición de la 1ª generación (1er capítulo de Pokémon estrenado).</small><br><br>
		
					<li class="list-group-item">
						545 millones de años antes de la primera generación aparece el mundo con Kabuto, Kabutops, Lileep, Cradily, Anorith y Armaldo.
					</li>

					<li class="list-group-item">
						400 millones de años antes de la primera generación.
						Aparece Relicanth.
					</li>

					<li class="list-group-item">
						Aparecen Omanyte y Omastar.
					</li>

					<li class="list-group-item">
						300 millones de años antes de la primera generación.
						Se extinguen Kabuto y Kabutops.
					</li>

					<li class="list-group-item">
						Ya existe Genesect.
					</li>

					<li class="list-group-item">
						Se extinguen Anorith y Armaldo.
					</li>

					<li class="list-group-item">
						250 millones de años antes de la primera generación.
						Aparecen Wimpod y Golisopod.
					</li>

					<li class="list-group-item">
						156 millones de años antes de la primera generación.
						Aparece Aerodactyl.
					</li>

					<li class="list-group-item">
						Aparecen Archen y Archeops.
					</li>

					<li class="list-group-item">
						Aparecen Amaura y Aurorus.
					</li>

					<li class="list-group-item">
						145 millones de años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Aparecen Exeggcute y Exeggutor.
					</li>

					<li class="list-group-item">
						125 millones de años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Se extinguen Archen y Archeops.
					</li>

					<li class="list-group-item">
						Aparecen Ekans, Arbok, Seviper, Snivy, Servine y Serperior.
					</li>

					<li class="list-group-item">
						75 millones de años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Cranidos y Rampardos.
					</li>

					<li class="list-group-item">
						Shieldon y Bastiodon.
					</li>

					<li class="list-group-item">
						Tyrunt y Tyrantrum.
					</li>

					<li class="list-group-item">
						Tirtouga y Carracosta.
					</li>

					<li class="list-group-item">
						65 millones de años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Se extinguen Omanyte y Omastar. (Puede que no por el peso de su concha que les impedía comer, sino por el impacto de un gran meteoro).
					</li>

					<li class="list-group-item">
						Se extingue Aerodactyl.
					</li>

					<li class="list-group-item">
						Se extinguen Tirtouga y Carracosta.
					</li>

					<li class="list-group-item">
						Los Magikarp son mucho más fuertes y más grandes que los de hoy en día.
					</li>

					<li class="list-group-item">
						Se extingen Cranidos, Rampardos, Shieldon, Bastiodon, Tyrunt, Tyrantrum, Amaura y Aurorus.
					</li>

					<li class="list-group-item">
					2 millones de años antes de la primera generación.

					<li class="list-group-item">
					Aparecen Swinub, Piloswine y Mamoswine.

					<li class="list-group-item">
					200.000 años antes de la primera generación.

					<li class="list-group-item">
					Aparecen los Homo Habilis, los primeros antepasados del ser humano.

					<li class="list-group-item">
					20.000 años antes de la primera generación.

					<li class="list-group-item">
					Los primeros humanos crean figurillas de barro de donde nacen Baltoy y Claydol.

					<li class="list-group-item">
					Groudon y Kyogre se enfrentan de nuevo en Hoenn por la energía que el planeta rebosaba. Los humanos decidieron invocar a Rayquaza para que los mandara a dormir de nuevo.

					<li class="list-group-item">
						Aparece una grieta espacial (Ultraumbral) en Alola, de la cual surgen Solgaleo y Lunala. Estas criaturas se alimentaban de la energía del Sol y la Luna respectivamente y crearon a los Espíritus guardianes, por lo que fueron venerados como dioses. El rey de Alola creó un altar como agradecimiento.
						10.000 años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Se crean los tres regis.
					</li>

					<li class="list-group-item">
						Edad de piedra: Regirock.
					</li>

					<li class="list-group-item">
					Edad de hielo: Regice.

					<li class="list-group-item">
						Edad de hierro: Registeel.
					</li>

					<li class="list-group-item">
						La población de Mamoswine disminuye después de la edad de hielo.
					</li>

					<li class="list-group-item">
						3.000 años antes de la primera generación
						Un meteorito cae sobre la superficie creando Arrecípolis, pero fractura la corteza liberando una energía que Kyogre y Groudon usan para obtener su Regresión Primigenia. Se enzarzaron en una lucha de 20 días y 20 noches hasta que, frente al meteorito, la gente invocó a Rayquaza de nuevo, quien obtuvo una nueva forma proveniente de la energía del meteorito, la primera Megaevolución. Despojó a ambos de sus regresiones y se creó el Pilar Celeste en su honra.
						Una terrible guerra existe en la región Kalos, donde el Pokémon de un hombre perece al participar en ella, entonces él construye una máquina para revivirlo, usando la vida de muchos pokémon para lograrlo. Sin embargo, cierto tiempo después, el hombre decide terminar la guerra convirtiendo la máquina en un arma de destrucción masiva que deja muchos muertos sobre Kalos.
					</li>

					<li class="list-group-item">
						2.000 años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Los humanos hacen esculturas de arena hasta tal punto en que nacen Sandygast y Palossand. También contruyeron velas, lámparas y candelabros, después de un suceso aterrador en una casa, nacieron Litwick, Lampent y Chandelure.
					</li>

					<li class="list-group-item">
						Conkeldurr enseña a los humanos la técnica del cemento.
					</li>

					<li class="list-group-item">
						Ya existían Bronzor y Bronzong.
					</li>

					<li class="list-group-item">
						El sistema conocido más antiguo de escritura se inventa y se usa en las Ruinas Alfa, en las Ruinas Sete y en las Ruinas Sosiego. Actualmente no se sabe si fue primero la escritura o los Unown.
						1.400 años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Sigilyph despierta en una ciudad antigua para protegerla de los invasores.
						100 años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Se descubre a Roggenrola en una grieta causada por un gran terremoto.
					</li>

					<li class="list-group-item">
					50 años antes de la primera generación.
					</li>

					<li class="list-group-item">
						Se ve por primera vez(se descubre) a Elgyem en un desierto.
					</li>

					<li class="list-group-item">
						40 años antes de la primera generacion.
					</li>

					<li class="list-group-item">
						Se descubre a Lunatone y Solrock junto a un meteorito proveniente del espacio.
					</li>

					<li class="list-group-item">
						Principio del mundo actual
					</li>
				</ul>
					
				</div>
				
				<div>
					<ul>
					<h2>Creación del Monte Corona:</h2>
					<small>Esta información se basa en los mitos y leyendas de las distintas regiones del mundo Pokémon:</small><br>


					  <li class="list-group-item ">La región de Sinnoh se crea alrededor del Monte Corona.</li>
					  <li class="list-group-item">Creación de la región de Teselia. Según la leyenda, fue creada por la amistad de dos gemelos y un poderoso Pokémon, con el fin de vivir en un lugar lleno de paz y armonía.</li>
					  <li class="list-group-item">
						Los gemelos deciden dividir sus caminos, donde uno de ellos busca la verdad y el otro los ideales de la vida, entrando en un largo conflicto.</li>
					  <li class="list-group-item">	Nacen Reshiram y Zekrom debido a la separación de aquel poderoso Pokémon.</li>
					  <li class="list-group-item">		Las batallas entre Reshiram y Zekrom reducen en cenizas a Teselia.</li>
					  <li class="list-group-item">	Los humanos liberan del conflicto a Reshiram y Zekrom colocándoles en distintas orbes (Orbe claro y Orbe oscuro) y deciden reconstruir Teselia.</li>
					  <li class="list-group-item">	NKyurem cae a la tierra en un meteorito creando el Boquete Gigante.</li>
					  <li class="list-group-item">	Se origina la Leyenda del Monstruo de Pueblo Ladrillo.</li>

				</ul>
				</div>
					
					
				
				
					
				
					
	
</div>

<blockquote class="blockquote text-center">
  <p class="mb-0">Página web sobre Pokemon</p>
  <footer class="blockquote-footer">By Jorge Mochon Bernal</footer>
</blockquote>
